st-pages==1.0.1
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
starlette==0.41.3
statsmodels @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_e7o9t8r4qh/croot/statsmodels_1718381195447/work
streamlit==1.40.2
streamlit-authenticator==0.4.1
streamlit-option-menu==0.4.0